.env-mailserver
compose.yaml
config.inc.php
mail-data/
mail-logs/
mail-state/
postgresql/
config/*
!config/rspamd/
config/rspamd/*
!config/rspamd/override.d/
config/rspamd/override.d/*
!config/rspamd/override.d/ratelimit.conf
certs/
